@import '../../../../../styles/variables.scss';

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.productBox {
  .nav {
    width: 100%;
    margin: 70px 0 20px 0;
    color: $colorGray;
    font-size: $fontSmall;

    .subMenu {
      display: flex;

      .li {
        margin: 0 5px;
      }

      .home {
        cursor: pointer;
      }

      .productLists {
        cursor: pointer;
      }

      .product {
        color: $colorBlack;
        cursor: pointer;
      }
    }
  }
}
