@import '../../../styles/variables.scss';

.productBox {
  max-width: 1310px;
  min-width: 1000px;
  margin: 0 auto;
  background-color: tomato;

  .nav {
    width: 100%;
    margin: 70px 0 20px 0;
    color: $colorGray;
    font-size: $fontMicro;

    .subMenu {
      display: flex;

      .li {
        margin: 0 5px;
      }

      .product {
        color: $colorBlack;
      }
    }
  }

  .product {
    @include flexSort(space-between, '');

    .img {
      width: 50%;

      .main {
        width: 100%;
        height: 500px;
        margin-bottom: 10px;
        background-color: $colorLightGray;

        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .sub {
        width: 100%;

        .subImgs {
          display: flex;

          .subImg {
            width: 70px;
            height: 70px;
            margin-right: 3px;
            background-color: $colorLightGray;

            .img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
