@import '../../styles/variables.scss';

.outerBox {
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 60px;
  background-color: none;
  overflow: hidden;
  font-family: $Montserrat, $NotoSans;
  // background-color: yellow;

  .couponBox {
    height: 30px;
    width: 100vw;
    border-top: 1px solid black;
    // border: 1px solid black;
    background-color: grey;
    padding-top: 8px;
    display: flex;
    position: relative;

    .movingTextBox {
      display: flex;
      position: absolute;

      .movingText1 {
        color: white;
        font-size: 13px;
        position: absolute;
        left: 0vw;
        width: 7vw;
      }

      .movingText2 {
        color: white;
        font-size: 13px;
        position: absolute;
        left: -100vw;
        width: 7vw;
      }
    }

    .movingTextBox.animate {
      transition: all 2s ease-in-out;
    }
  }

  .contentsBox {
    .upperBox {
      padding: 0px 100px;
      // border: 1px solid black;

      .spaceBox {
        height: 100px;
      }

      .mainPicBox {
        display: flex;
        justify-content: space-between;
        position: relative;

        // background-color: blue($color: #000000);

        .newestItem {
          width: 41vw;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          position: relative;
          opacity: 0;
          transform: translateY(70vh);
          margin-right: 32px;

          .upperSlideBtnLeft {
            width: 1.9vw;
            position: absolute;
            top: 43%;
          }

          .upperSlideBtnRight {
            width: 1.6vw;
            position: absolute;
            top: 43%;
            right: 2px;
          }

          .upperSlideBtnLeft:hover {
            cursor: pointer;
          }

          .upperSlideBtnRight:hover {
            cursor: pointer;
          }

          .upperSlideBox {
            // background-color: orange;
            display: flex;
          }

          .upperSlideBox.animate {
            transition: all 0.6s ease-in-out;
          }

          .pictureBox1 {
            // width: inherit;

            .mainPic {
              width: 41vw;
              height: 51vw;
            }
          }

          .mainPicTextBox {
            height: 61.84px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;

            .direction {
              width: 15px;
              margin-right: 10px;
            }
          }
        }

        .newestItem.fadeIn {
          transform: translateY(0vw);
          opacity: 1;
          transition: all 1.5s ease-in-out;
        }

        .bestItem {
          width: 41vw;
          opacity: 0;
          transform: translateY(70vw);
          margin-left: 32px;

          .pictureBox2 {
            width: 100%;
            display: flex;
            justify-content: end;

            .mainPic {
              width: 41vw;
              height: 51vw;
            }
          }

          .mainPicTextBox {
            height: 61.84px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;

            .direction {
              width: 15px;
              margin-right: 10px;
            }
          }
        }

        .bestItem.fadeIn {
          opacity: 1;
          transform: translateY(0vw);
          transition: all 1.5s ease-in-out;
        }
      }
    }

    .middleUpperBox {
      position: relative;
      opacity: 0;
      // background-color: aquamarine;

      .lowerSlideBtnLeft {
        width: 30px;
        position: absolute;
        top: 43%;
        left: 1%;
        z-index: 1;
      }

      .lowerSlideBtnRight {
        width: 26px;
        position: absolute;
        top: 43%;
        right: 1%;
        z-index: 1;
      }

      .lowerSlideBtnLeft:hover {
        cursor: pointer;
      }

      .lowerSlideBtnRight:hover {
        cursor: pointer;
      }

      .spaceBox {
        width: 100%;
        height: 100px;
        // border: 1px solid yellow;
      }

      .productSlideBox {
        width: 100%;
        display: flex;
        // transition: all 0.8s ease-in-out;

        .slideContents {
          // width: 25%;

          // background-color: red;

          .slideImageBox {
            // width: 100%;
            height: 90%;

            img {
              width: 25vw;
              height: 100%;
            }
          }

          .slideTextBox {
            padding-left: 10px;
            height: 10%;
          }
        }
      }
      .productSlideBox.animate {
        transition: all 0.6s ease-in-out;
      }
    }

    .middleUpperBox.fadeIn {
      opacity: 1;
      transition: opacity 1.5s ease-in-out;
    }

    .middleBottomBox {
      padding: 0px 100px;

      // border: 1px solid black;
      // background-color: green;

      .spaceBox {
        height: 100px;
        // border: 1px solid yellow;
      }

      .mainPicBox {
        display: flex;
        background-color: blue($color: #000000);
        justify-content: space-between;

        .middleBottomFirstBox {
          opacity: 0;
          transform: translateY(60vh);
          width: 41vw;
          margin-right: 32px;

          .pictureBox1 {
            width: 100%;

            .mainPic {
              width: 41vw;
              height: 51vw;
            }
          }

          .mainPicTextBox {
            height: 61.84px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;

            .direction {
              width: 15px;
              margin-right: 10px;
            }
          }
        }

        .middleBottomFirstBox.fadeIn {
          opacity: 1;
          transform: translateY(0vh);
          transition: all 1.5s ease-in-out;
        }

        .middleBottomSecondBox {
          opacity: 0;
          transform: translateY(60vh);
          width: 41vw;
          margin-left: 32px;

          .pictureBox2 {
            width: 100%;
            display: flex;
            justify-content: end;

            .mainPic {
              width: 41vw;
              height: 51vw;
            }
          }

          .mainPicTextBox {
            height: 61.84px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;

            .direction {
              width: 15px;
              margin-right: 10px;
            }
          }
        }

        .middleBottomSecondBox.fadeIn {
          opacity: 1;
          transform: translateY(0vh);
          transition: all 1.5s ease-in-out;
        }
      }
    }

    .middleBottomBox.fadeIn {
    }

    .bottomBox {
      .eventContentsBox {
        width: 100%;

        .eventInsideBox {
          display: flex;
          justify-content: center;
          padding: 0 50px;

          .innerContentsBox {
            width: 100%;
            height: 100%;
            padding: 50px;

            img {
              width: 100%;
              height: 100%;
            }

            div {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 16px;
              height: 60px;
            }
          }
        }
      }
      .spaceBox {
        width: 100%;
        height: 150px;
        // border: 1px solid yellow;
      }
    }
  }
  .footerSpaceBox {
    height: 100px;
  }
}

// #A59D94
