@import '../../../styles/variables.scss';

.card {
  width: 25%;
  padding: 0 1px;
  font-size: $fontSmall;
  font-family: $NotoSans;

  .img {
    padding-bottom: 100%;
    cursor: pointer;
  }

  .desc {
    padding: 20px 0 50px;
    color: $colorDarkGray;

    .name {
      margin-bottom: 5px;
      font-weight: $weightBold;
    }
  }
}
