// reset 추가

body,
ul,
p,
figure {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

/// components

.productlist {
  .colorBar {
    height: 5px;
    background: linear-gradient(
      90deg,
      #e34466 0%,
      #f9de52 20%,
      #7cc344 40%,
      #4386d6 60%,
      #a866d2 80%,
      #b0977e 100%
    );
    background-position: center;
    margin: 0 3px 55px;
  }

  .outerBox {
    max-width: 90vw;
    margin: 0 auto;

    .filterBox {
      padding: 40px 0;

      .colorBox {
        display: flex;
        justify-content: center;
        width: 60vw;
        margin: 0 auto;

        .colorItem {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 200px;

          .color {
            width: 18px;
            height: 18px;
            margin-bottom: 20px;
            border-radius: 50%;
            // background: dodgerblue;
            cursor: pointer;
          }

          .name {
            font-size: 14px;
            font-family: sans-serif;
            font-weight: 100;
            text-align: center;
          }
        }
      }
    }

    .listBox {
      display: flex;
      overflow: hidden;
      flex-wrap: wrap;

      .cardBox {
        width: 25%;
        padding: 0 3px;
        font-size: 14px;
        font-family: sans-serif;

        .img {
          padding-bottom: 130%;
          cursor: pointer;
        }

        .desc {
          padding: 20px 0 50px;

          .name {
            margin-bottom: 5px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
