* {
  box-sizing: border-box;
  margin: 0;

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input:focus {
    outline: none;
  }

  button {
    padding: 0;
    border: none;
    box-shadow: none;
    cursor: pointer;
  }
}
