@import '../../../../../styles/variables.scss';

.productBox {
  .review {
    width: 50%;
    text-align: center;

    .header {
      .title {
        margin: 60px 0 20px;
      }

      .text {
        margin: 10px 0 30px;
      }

      .button {
        width: 150px;
        height: 50px;
        font-size: $fontRegular;
        color: $colorDarkGray;
        background-color: transparent;
        border: 1px solid $colorGray;

        &:hover {
          color: $colorBlack;
          border: 1px solid $colorBlack;
        }
      }

      .filter {
        @include flexSort(center, center);
        margin: 60px 0 20px;
        font-size: $fontRegular;

        .text {
          margin: 0;
          padding-left: 10px;
        }
      }
    }

    .border {
      width: 100%;
      height: 1px;
      background-color: $colorBlack;
    }

    .lists {
      margin-bottom: 100px;

      .list {
        @include flexSort(space-between, center);
        padding: 20px 10px;
        border-bottom: 1px solid $colorLightGray;
        text-align: left;

        .content {
          width: 100%;

          .review {
            width: 100%;
            text-align: left;
            font-size: $fontRegular;
          }

          .images {
            @include flexSort('', center);

            .image {
              @include flexCenter;
              width: 60px;
              height: 60px;
              margin-right: 5px;
              overflow: hidden;

              .img {
                width: 100%;
              }
            }
          }
        }

        .userInfo {
          width: 30%;
          color: $colorGray;
          font-size: $fontMicro;

          .userId {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
