* {
  box-sizing: border-box;

  .blackBackground {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 50%;
    // position: fixed;
    top: 0;
    left: 0;
  }

  .backgroundBox {
    // width: 100vw;
    // height: 100vh;
    // position: fixed;
    // top: 0;
    // left: 0;

    .modalBox {
      width: 462px;
      height: 396px;
      background-color: turquoise;

      .modalTopBox {
        height: 50px;
        display: flex;

        .modalTitle {
        }
        .quitButton {
        }
      }

      .modalMiddleBox {
        .modalProductBox {
          height: 84px;
          border: 1px solid black;
        }
        .changeQuantityBox {
          height: 82px;
          border: 1px solid black;
        }
        .modalCountBox {
          height: 82px;
          border: 1px solid black;
        }
      }
      .modalBottomBox {
        .modalButtonBox {
          .cancelButton {
          }
          .changeButton {
          }
        }
      }
    }
  }
}
